main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.title{
    color: black;
    margin-bottom: 32px;
    
}


h5{

width: 50%;
font-size: medium;
margin-top: 32px;
margin-bottom: 32px;
    
}


.news{
    width: 50%;
    font-size: 20px;
    
}

